section {
    background-color: peachpuff;
    height: 500px;
}

.flex-container {
    display: flex;
    align-content: center;
}

.flex-item {
    display: flex;
    padding: 30px;
    background-color:orangered;
    margin: 5px;
    text-align: center;
    margin-top: 175px;
}