section {
    background-color: peachpuff;
}

.flex-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.flex-item {
    display: flex;
    padding: 30px;
    background-color:orangered;
    margin: 5px;
    text-align: center;
    margin-top: 175px;
}