.flex-item {
    background-color: coral;
    text-align: center;
    margin: 5px;
    padding: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
    margin-top: 25%;
}

body {
    background-color: peachpuff;
}